# Data Pre Processing

This is a notebook for intaking a raw data file, preprocessing it, and exporting it in a format in which it can easily be labeled.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/directoryident.tsv", sep="\t")
df.head()

,dn,lastname,givenname,middle,dob,address
0,"uid=madanafl,ou=People,dc=umich,dc=edu",Madanay,Farrah,L,1990091200Z,NaN
1,"uid=jocbran,ou=People,dc=umich,dc=edu",Branham,Jocelyn,NaN,20050616000000Z,{addr1=345A Infantry Ter}:{city=San Francisco}...
2,"uid=stoicabr,ou=People,dc=umich,dc=edu",Stoica,Brooke,NaN,20031007000000Z,{addr1=9051 Salem Farms Drive}:{city=South Lyo...
3,"uid=heavens,ou=People,dc=umich,dc=edu",Smith,Heaven,NaN,19880104000000Z,{addr1=6655 Jackson Rd Unit 191}:{city=Ann Arb...
4,"uid=funnim,ou=People,dc=umich,dc=edu",Funni,Matthew,NaN,1989121900Z,{addr1=2095 pauls way}:{city=Commerce twp}:{st...

## Preprocessing

### Cleanup

In [4]:
# Add unique ID column
# Uses the row number of original csv file as unique ID
df['Unique ID'] = df.index + 1

In [5]:
# Turn all NaN values into empty strings
df['address'] = df['address'].fillna(" ")
df['middle'] = df['middle'].fillna(" ")

In [6]:
df.head()

,dn,lastname,givenname,middle,dob,address,Unique ID
0,"uid=madanafl,ou=People,dc=umich,dc=edu",Madanay,Farrah,L,1990091200Z,,1
1,"uid=jocbran,ou=People,dc=umich,dc=edu",Branham,Jocelyn,,20050616000000Z,{addr1=345A Infantry Ter}:{city=San Francisco}...,2
2,"uid=stoicabr,ou=People,dc=umich,dc=edu",Stoica,Brooke,,20031007000000Z,{addr1=9051 Salem Farms Drive}:{city=South Lyo...,3
3,"uid=heavens,ou=People,dc=umich,dc=edu",Smith,Heaven,,19880104000000Z,{addr1=6655 Jackson Rd Unit 191}:{city=Ann Arb...,4
4,"uid=funnim,ou=People,dc=umich,dc=edu",Funni,Matthew,,1989121900Z,{addr1=2095 pauls way}:{city=Commerce twp}:{st...,5

In [7]:
# Convert all columns to string
df = df.astype(str)

In [8]:
# take sample of 5000
df = df.sample(n=5000)

In [9]:
# Function to parse a singular dn field
# Returns the uid in the dn
def parse_dn(dn):
    dn = dn.split(',')
    dn = [x.split('=') for x in dn]
    dn = {x[0].strip(): x[1].strip() for x in dn}
    return dn["uid"]

In [10]:
# Function to concatenate every value in the address 
# We want to concatenate all values inside curly braces
def concat_address(address):
    if address != ' ':
        address = address.split('}:{')
        try: 
            address = [x.split('=')[1] for x in address]
        except:
            return "DELETE"
        address = ' '.join(address)
    return address

In [11]:
# Use vectorization to set new values for dn and address columns
df['dn'] = df['dn'].apply(parse_dn)
df['address'] = df['address'].apply(concat_address)
df['dob'] = df['dob'].apply(lambda x : x[:8])

In [12]:
if "DELETE" in df['address'].values:
    df = df[df['address'] != "DELETE"]

df.head()

,dn,lastname,givenname,middle,dob,address,Unique ID
126041,dgberton,Bertoni,Dylan,,19930625,837 W Lombard St Baltimore MD 21201 UNITED STA...,126042
271929,patwalk,Walker,Patrick,J,19950125,490 M St SW Apt W603 Washington DC 20024-2628 ...,271930
30365,ricraig,RICHARD,CRAIG,,nan,,30366
578243,jochne,Neuenschwander,John,C,19621228,1508 Ottawa Rd Ann Arbor MI 48105 USA},578244
182283,changfel,Liu,Changfeng,,19940724,"Room 1401, No. 12, 99 Nong Jinggu East RD. Min...",182284

In [13]:
# Change column names
df.columns = ['ID', 'Last Name', 'First Name', 'Middle Name', 'Date of Birth', 'Address', 'Unique ID']
# Reorder columns
df = df[['Unique ID', 'ID', 'First Name', 'Middle Name', 'Last Name', 'Date of Birth', 'Address']]

In [14]:
df.head()

,Unique ID,ID,First Name,Middle Name,Last Name,Date of Birth,Address
126041,126042,dgberton,Dylan,,Bertoni,19930625,837 W Lombard St Baltimore MD 21201 UNITED STA...
271929,271930,patwalk,Patrick,J,Walker,19950125,490 M St SW Apt W603 Washington DC 20024-2628 ...
30365,30366,ricraig,CRAIG,,RICHARD,nan,
578243,578244,jochne,John,C,Neuenschwander,19621228,1508 Ottawa Rd Ann Arbor MI 48105 USA}
182283,182284,changfel,Changfeng,,Liu,19940724,"Room 1401, No. 12, 99 Nong Jinggu East RD. Min..."

### Similarity Measures

In [15]:
# Sample 200 records from df into new df
df_sample = df.sample(100)

In [16]:
df_sample.head()

,Unique ID,ID,First Name,Middle Name,Last Name,Date of Birth,Address
405936,405937,shenx,XiaoPing,,Shen,19630111,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...
165127,165128,salkiek,Sarah,,Alkiek,19991202,6239 Canter Creek Trl Grand Blanc MI 48439-744...
265971,265972,alingamp,Aditya,,Lingampally,19870529,1218 Meadow Sweet Dr Madison WI 53719-4514 UNI...
212137,212138,kgran,Keith,,Gran,19600209,9070 Lebarron Court Saline MI 48176 UNITED STA...
172603,172604,cmohare,Ciara,Marie,O'Hare,19920424,18577 Innsbrook Dr Apt 2 Northville MI 48168-2...

In [17]:
# Remove sampled records from df
df = df.drop(df_sample.index)

With a sample df, we can now build a similarity measure df by comparing each record in the sample df with the other records.

In [18]:
import Levenshtein as lev

In [19]:
"""
Returns normalized levenshtein distance between two strings
"""
def levenshtein_distance(
        s1: str,
        s2: str
) -> int:
    distance = lev.distance(s1, s2)
    try:
        return 1 - distance / float(max(len(s1), len(s2)))
    except ZeroDivisionError:
        return 0

In [20]:
"""
Returns Levenshtein distance between each field of two rows
Assumes following format for rows:
    row = pd.Series([First Name, Middle Name, Last Name, DOB, Address, ID])
"""
def row_similarity(
        row_1: pd.Series, 
        df_2: pd.DataFrame
    ) -> pd.DataFrame:

    # Compute similarity measures for each column using Levenshtein distance
    first_name_similarity = df_2['First Name'].apply(lambda x : levenshtein_distance(row_1['First Name'], x))
    middle_name_similarity = df_2['Middle Name'].apply(lambda x : levenshtein_distance(row_1['Middle Name'], x))
    last_name_similarity = df_2['Last Name'].apply(lambda x : levenshtein_distance(row_1['Last Name'], x))
    dob_similarity = df_2['Date of Birth'].apply(lambda x : levenshtein_distance(row_1['Date of Birth'], x))
    address_similarity = df_2['Address'].apply(lambda x : levenshtein_distance(row_1['Address'], x))
    id_similarity = df_2['ID'].apply(lambda x : levenshtein_distance(row_1['ID'], x))

    # Return DataFrame with similarity measures
    return pd.DataFrame({
        'UNIQ_ID1': row_1['Unique ID'],
        'UNIQ_ID2': df_2['Unique ID'],
        'ID1': row_1['ID'],
        'ID2': df_2['ID'],
        'ID Similarity': id_similarity,
        'First Name 1' : row_1['First Name'],
        'First Name 2' : df_2['First Name'],
        'First Name Similarity': first_name_similarity,
        'Middle Name 1' : row_1['Middle Name'],
        'Middle Name 2' : df_2['Middle Name'],
        'Middle Name Similarity': middle_name_similarity,
        'Last Name 1' : row_1['Last Name'],
        'Last Name 2' : df_2['Last Name'],
        'Last Name Similarity': last_name_similarity,
        'Date of Birth 1' : row_1['Date of Birth'],
        'Date of Birth 2' : df_2['Date of Birth'],
        'Date of Birth Similarity': dob_similarity,
        'Address 1' : row_1['Address'],
        'Address 2' : df_2['Address'],
        'Address Similarity': address_similarity
    })

In [21]:
"""
Builds similarity measure between records in two df
Creates a new df from the two df with the following columns:
    - ID1: ID of record in df1
    - ID2: ID of record in df2
    - First Name Similarity: Normalized levenshtein distance between first names
    - Middle Name Similarity: Normalized levenshtein distance between middle names
    - Last Name Similarity: Normalized levenshtein distance between last names
    - Date of Birth Similarity: Normalized levenshtein distance between dates of birth
    - Address Similarity: Normalized levenshtein distance between addresses
    - ID Similarity: Normalized levenshtein distance between IDs
"""
def build_similarity_df (
        df_1: pd.DataFrame,
        df_2: pd.DataFrame
) -> pd.DataFrame:
    new_df = pd.DataFrame(columns=[ 'UNIQ_ID1',
                                    'UNIQ_ID2',
                                    'ID1', 
                                   'ID2', 
                                   'ID Similarity',
                                   'First Name 1',
                                   'First Name 2',
                                   'First Name Similarity', 
                                   'Middle Name 1',
                                    'Middle Name 2',
                                   'Middle Name Similarity',
                                    'Last Name 1',
                                    'Last Name 2', 
                                   'Last Name Similarity', 
                                    'Date of Birth 1',
                                    'Date of Birth 2',
                                   'Date of Birth Similarity', 
                                    'Address 1',
                                    'Address 2',
                                   'Address Similarity'])

    # Convert ID columns to string
    df_1["ID"] = df_1["ID"].astype(str)
    df_2["ID"] = df_2["ID"].astype(str)

    def apply_row_similarity(row, new_df):
        sim = row_similarity(row, df_2)
        new_df = pd.concat([new_df, sim], ignore_index=True)
        return new_df

    # Use vectorization to compute similarity between each row in df_1 and df_2
    new_df = df_1.apply(apply_row_similarity, args=(new_df,), axis=1).reset_index(drop=True)

    # New df is a series of dfs, so we need to concatenate them
    new_df = pd.concat(new_df.to_list(), ignore_index=True)

    return new_df

In [22]:
similarity_df = build_similarity_df(df_sample,  df)
similarity_df.head()

,UNIQ_ID1,UNIQ_ID2,ID1,ID2,ID Similarity,First Name 1,First Name 2,First Name Similarity,Middle Name 1,Middle Name 2,Middle Name Similarity,Last Name 1,Last Name 2,Last Name Similarity,Date of Birth 1,Date of Birth 2,Date of Birth Similarity,Address 1,Address 2,Address Similarity
0,405937,126042,shenx,dgberton,0.125000,XiaoPing,Dylan,0.125000,,,1.0,Shen,Bertoni,0.142857,19630111,19930625,0.500,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,837 W Lombard St Baltimore MD 21201 UNITED STA...,0.540984
1,405937,271930,shenx,patwalk,0.000000,XiaoPing,Patrick,0.250000,,J,0.0,Shen,Walker,0.166667,19630111,19950125,0.500,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,490 M St SW Apt W603 Washington DC 20024-2628 ...,0.437500
2,405937,30366,shenx,ricraig,0.000000,XiaoPing,CRAIG,0.000000,,,1.0,Shen,RICHARD,0.000000,19630111,nan,0.000,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,,0.016393
3,405937,578244,shenx,jochne,0.166667,XiaoPing,John,0.250000,,C,0.0,Shen,Neuenschwander,0.142857,19630111,19621228,0.375,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,1508 Ottawa Rd Ann Arbor MI 48105 USA},0.426230
4,405937,182284,shenx,changfel,0.250000,XiaoPing,Changfeng,0.333333,,,1.0,Shen,Liu,0.000000,19630111,19940724,0.375,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,"Room 1401, No. 12, 99 Nong Jinggu East RD. Min...",0.162791

### Discretization

### WPKID

In [23]:
wpkid_df = similarity_df.copy()

In [24]:
# holds bin ranges for each similarity attribute
bin_ranges = {'First Name Similarity' : [],
        'Middle Name Similarity' : [],
        'Last Name Similarity' : [],
        'Date of Birth Similarity' : [],
        'Address Similarity' : [],
        'ID Similarity' : []}

In [25]:
#for solving systems of equations
import sympy as sp 
import math


t = # of intervals<br>
s = interval size<br>
n = # of instances in training dataset<br>

s * t = n<br>
s - 30 = t<br>

In [26]:
# WPKID function to solve for s and t given n, returns pair {s, t}
def interval_size_and_num(n) -> tuple:
    s, t = sp.symbols('s t')
    equation1 = sp.Eq(s * t, n)
    equation2 = sp.Eq(s - 30, t)  
    solution = sp.solve((equation1, equation2), (s, t))
    s_val = solution[0][1] * -1
    t_val = solution[1][1]

    s_int = math.floor(s_val)
    t_int = math.floor(t_val)
    return s_int, t_int

In [27]:
# function that takes in a column and discretizes it, saving bin ranges
def discretize_column(column, df):
    # separate zeros from nonzeros
    zeros_df = wpkid_df[wpkid_df[column] == 0].copy()
    nonzeros_df = wpkid_df[wpkid_df[column] != 0].copy()

    #get num_instances and num_intervals for nonzeros
    num_instances = interval_size_and_num(len(nonzeros_df))[0]
    num_intervals = interval_size_and_num(len(nonzeros_df))[1]

    # get bin ranges for nonzeros
    nonzeros_df[column], bin = pd.qcut(nonzeros_df[column], 
                                        q=num_intervals, 
                                        labels=False,
                                        retbins=True,
                                        duplicates='drop') 
    
    #add 1 to every value to switch to index 1
    nonzeros_df[column] = nonzeros_df[column] + 1

    #save bin ranges
    bin_ranges[column].extend(bin.tolist())

    #recombine zero and nonzero dataframes
    df.loc[df[column] == 0, column] = zeros_df[column]
    df.loc[df[column] != 0, column] = nonzeros_df[column] 

    return df

In [28]:
wpkid_df = discretize_column('First Name Similarity', wpkid_df)
wpkid_df = discretize_column('Middle Name Similarity', wpkid_df)
wpkid_df = discretize_column('Last Name Similarity', wpkid_df)
wpkid_df = discretize_column('Date of Birth Similarity', wpkid_df)
wpkid_df = discretize_column('Address Similarity', wpkid_df)
wpkid_df = discretize_column('ID Similarity', wpkid_df)

In [29]:
"""insert 0 at the beginning of each bin range"""
for key in bin_ranges:
    bin_ranges[key].insert(0, 0)

In [30]:
wpkid_df.head()

,UNIQ_ID1,UNIQ_ID2,ID1,ID2,ID Similarity,First Name 1,First Name 2,First Name Similarity,Middle Name 1,Middle Name 2,Middle Name Similarity,Last Name 1,Last Name 2,Last Name Similarity,Date of Birth 1,Date of Birth 2,Date of Birth Similarity,Address 1,Address 2,Address Similarity
0,405937,126042,shenx,dgberton,1.0,XiaoPing,Dylan,6.0,,,25.0,Shen,Bertoni,12.0,19630111,19930625,3.0,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,837 W Lombard St Baltimore MD 21201 UNITED STA...,342.0
1,405937,271930,shenx,patwalk,0.0,XiaoPing,Patrick,15.0,,J,0.0,Shen,Walker,14.0,19630111,19950125,3.0,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,490 M St SW Apt W603 Washington DC 20024-2628 ...,235.0
2,405937,30366,shenx,ricraig,0.0,XiaoPing,CRAIG,0.0,,,25.0,Shen,RICHARD,0.0,19630111,nan,0.0,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,,16.0
3,405937,578244,shenx,jochne,2.0,XiaoPing,John,15.0,,C,0.0,Shen,Neuenschwander,12.0,19630111,19621228,2.0,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,1508 Ottawa Rd Ann Arbor MI 48105 USA},222.0
4,405937,182284,shenx,changfel,4.0,XiaoPing,Changfeng,19.0,,,25.0,Shen,Liu,0.0,19630111,19940724,2.0,2976 S Foxridge Ct Ann Arbor MI 48105-9200 UNI...,"Room 1401, No. 12, 99 Nong Jinggu East RD. Min...",67.0

In [31]:
for key, value in bin_ranges.items():
    print(key, value)

First Name Similarity [0, 0.045454545454545414, 0.0714285714285714, 0.08333333333333337, 0.09090909090909094, 0.09999999999999998, 0.11111111111111116, 0.125, 0.1333333333333333, 0.1428571428571429, 0.15000000000000002, 0.16666666666666663, 0.18181818181818177, 0.19999999999999996, 0.2142857142857143, 0.2222222222222222, 0.25, 0.2727272727272727, 0.2857142857142857, 0.30000000000000004, 0.33333333333333337, 0.36363636363636365, 0.375, 0.4, 0.4285714285714286, 0.4444444444444444, 0.5, 0.5714285714285714, 0.6, 0.625, 0.7142857142857143, 0.8888888888888888, 1.0]
Middle Name Similarity [0, 0.04347826086956519, 0.0625, 0.07692307692307687, 0.08333333333333337, 0.08695652173913049, 0.09090909090909094, 0.09999999999999998, 0.11111111111111116, 0.11764705882352944, 0.125, 0.13043478260869568, 0.1428571428571429, 0.15384615384615385, 0.16666666666666663, 0.19999999999999996, 0.2222222222222222, 0.25, 0.2857142857142857, 0.33333333333333337, 0.375, 0.4, 0.4285714285714286, 0.4444444444444444, 0.5, 0.6, 1.0]
Last Name Similarity [0, 0.040000000000000036, 0.0625, 0.06666666666666665, 0.0714285714285714, 0.07692307692307687, 0.08333333333333337, 0.09090909090909094, 0.09999999999999998, 0.11111111111111116, 0.12, 0.125, 0.1333333333333333, 0.1428571428571429, 0.15384615384615385, 0.16666666666666663, 0.17647058823529416, 0.18181818181818177, 0.1875, 0.19999999999999996, 0.2142857142857143, 0.2222222222222222, 0.23076923076923073, 0.23529411764705888, 0.25, 0.2727272727272727, 0.2857142857142857, 0.30000000000000004, 0.3076923076923077, 0.33333333333333337, 0.375, 0.4, 0.4285714285714286, 0.4444444444444444, 0.5, 0.6, 0.6666666666666667, 1.0]
Date of Birth Similarity [0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1.0]
Address Similarity [0, 0.007575757575757569, 0.010869565217391353, 0.011111111111111072, 0.0117647058823529, 0.012658227848101222, 0.013333333333333308, 0.01388888888888884, 0.014285714285714235, 0.01449275362318836, 0.014705882352941124, 0.014925373134328401, 0.015151515151515138, 0.01538461538461533, 0.015625, 0.015873015873015928, 0.016129032258064502, 0.016393442622950838, 0.01666666666666672, 0.016949152542372836, 0.017241379310344862, 0.01754385964912286, 0.017857142857142905, 0.018181818181818188, 0.01851851851851849, 0.018867924528301883, 0.019230769230769273, 0.019607843137254943, 0.020408163265306145, 0.022727272727272707, 0.023809523809523836, 0.024390243902439046, 0.02631578947368418, 0.02777777777777779, 0.03703703703703709, 0.09836065573770492, 0.109375, 0.11290322580645162, 0.11475409836065575, 0.12, 0.125, 0.12790697674418605, 0.12962962962962965, 0.1311475409836066, 0.1333333333333333, 0.13461538461538458, 0.13793103448275867, 0.13888888888888884, 0.14035087719298245, 0.14117647058823535, 0.1428571428571429, 0.14516129032258063, 0.1466666666666666, 0.1470588235294118, 0.14754098360655743, 0.14925373134328357, 0.15094339622641506, 0.1515151515151515, 0.15189873417721522, 0.1527777777777778, 0.15294117647058825, 0.15384615384615385, 0.1558441558441559, 0.15740740740740744, 0.15873015873015872, 0.16000000000000003, 0.16129032258064513, 0.16216216216216217, 0.16279069767441856, 0.1636363636363637, 0.16393442622950816, 0.16455696202531644, 0.16470588235294115, 0.16666666666666663, 0.16883116883116878, 0.16981132075471694, 0.171875, 0.1728395061728395, 0.17333333333333334, 0.173469387755102, 0.17441860465116277, 0.17543859649122806, 0.17647058823529416, 0.17721518987341767, 0.1777777777777778, 0.17910447761194026, 0.18055555555555558, 0.18181818181818177, 0.18333333333333335, 0.18461538461538463, 0.18604651162790697, 0.18666666666666665, 0.1875, 0.18867924528301883, 0.189873417721519, 0.19047619047619047, 0.19191919191919193, 0.19318181818181823, 0.19444444444444442, 0.19672131147540983, 0.19753086419753085, 0.19999999999999996, 0.2028985507246377, 0.20370370370370372, 0.2063492063492064, 0.2075471698113207, 0.2093023255813954, 0.21052631578947367, 0.21153846153846156, 0.21311475409836067, 0.2142857142857143, 0.21666666666666667, 0.21818181818181814, 0.22033898305084743, 0.2222222222222222, 0.22413793103448276, 0.22580645161290325, 0.2272727272727273, 0.22807017543859653, 0.2295081967213115, 0.23188405797101452, 0.23333333333333328, 0.23529411764705888, 0.23636363636363633, 0.23809523809523814, 0.2407407407407407, 0.24137931034482762, 0.24193548387096775, 0.24242424242424243, 0.24528301886792447, 0.24561403508771928, 0.24615384615384617, 0.25, 0.25274725274725274, 0.2542372881355932, 0.2545454545454545, 0.25757575757575757, 0.2586206896551724, 0.2592592592592593, 0.2622950819672131, 0.26315789473684215, 0.2647058823529411, 0.2666666666666667, 0.2678571428571429, 0.2698412698412699, 0.27142857142857146, 0.2727272727272727, 0.27419354838709675, 0.27586206896551724, 0.2786885245901639, 0.2807017543859649, 0.28301886792452835, 0.28358208955223885, 0.2857142857142857, 0.288135593220339, 0.2909090909090909, 0.2941176470588235, 0.296875, 0.30000000000000004, 0.303030303030303, 0.30645161290322576, 0.31034482758620685, 0.3157894736842105, 0.3207547169811321, 0.32692307692307687, 0.33333333333333337, 0.339622641509434, 0.34693877551020413, 0.35185185185185186, 0.3571428571428571, 0.3626373626373627, 0.3650793650793651, 0.36764705882352944, 0.37142857142857144, 0.37362637362637363, 0.375, 0.37777777777777777, 0.3793103448275862, 0.381578947368421, 0.38372093023255816, 0.3846153846153846, 0.3857142857142857, 0.3870967741935484, 0.3880597014925373, 0.38888888888888884, 0.390625, 0.3918918918918919, 0.3939393939393939, 0.3950617283950617, 0.39583333333333337, 0.39682539682539686, 0.3970588235294118, 0.3972602739726028, 0.4, 0.4027777777777778, 0.4029850746268657, 0.4032258064516129, 0.4035087719298246, 0.40625, 0.4065934065934066, 0.4067796610169492, 0.4084507042253521, 0.40909090909090906, 0.4098360655737705, 0.4107142857142857, 0.4111111111111111, 0.4117647058823529, 0.4126984126984127, 0.4137931034482759, 0.41428571428571426, 0.41538461538461535, 0.41666666666666663, 0.41758241758241754, 0.417910447761194, 0.4193548387096774, 0.42028985507246375, 0.42105263157894735, 0.421875, 0.4222222222222223, 0.4226804123711341, 0.423728813559322, 0.4242424242424242, 0.42592592592592593, 0.42622950819672134, 0.42647058823529416, 0.4285714285714286, 0.4305555555555556, 0.4307692307692308, 0.43103448275862066, 0.43181818181818177, 0.4328358208955224, 0.43333333333333335, 0.4347826086956522, 0.4354838709677419, 0.4363636363636364, 0.43661971830985913, 0.4375, 0.4385964912280702, 0.43939393939393945, 0.43999999999999995, 0.44067796610169496, 0.4411764705882353, 0.4426229508196722, 0.44285714285714284, 0.4444444444444444, 0.44594594594594594, 0.4461538461538461, 0.4464285714285714, 0.4477611940298507, 0.4482758620689655, 0.4492753623188406, 0.44999999999999996, 0.45070422535211263, 0.4516129032258065, 0.4528301886792453, 0.453125, 0.4545454545454546, 0.4558823529411765, 0.45614035087719296, 0.4571428571428572, 0.4576271186440678, 0.45833333333333337, 0.4590163934426229, 0.45945945945945943, 0.46031746031746035, 0.46153846153846156, 0.4626865671641791, 0.46376811594202894, 0.4642857142857143, 0.46478873239436624, 0.4655172413793104, 0.4666666666666667, 0.467741935483871, 0.46875, 0.4696969696969697, 0.47058823529411764, 0.4714285714285714, 0.4716981132075472, 0.4722222222222222, 0.4727272727272728, 0.4736842105263158, 0.47457627118644063, 0.47540983606557374, 0.47619047619047616, 0.4769230769230769, 0.4776119402985075, 0.4782608695652174, 0.47887323943661975, 0.48, 0.4821428571428571, 0.48275862068965514, 0.4833333333333333, 0.4838709677419355, 0.484375, 0.48484848484848486, 0.4852941176470589, 0.48571428571428577, 0.48611111111111116, 0.48888888888888893, 0.49090909090909096, 0.49122807017543857, 0.4915254237288136, 0.4918032786885246, 0.4920634920634921, 0.49230769230769234, 0.4925373134328358, 0.49295774647887325, 0.5, 0.5070422535211268, 0.5074626865671642, 0.5076923076923077, 0.5079365079365079, 0.5081967213114754, 0.5084745762711864, 0.5087719298245614, 0.509090909090909, 0.5094339622641509, 0.5142857142857142, 0.5147058823529411, 0.5151515151515151, 0.515625, 0.5161290322580645, 0.5166666666666666, 0.5172413793103448, 0.5178571428571428, 0.52, 0.5223880597014925, 0.523076923076923, 0.5238095238095238, 0.5245901639344263, 0.5254237288135593, 0.5263157894736843, 0.5272727272727273, 0.5294117647058824, 0.5303030303030303, 0.53125, 0.532258064516129, 0.5333333333333333, 0.5344827586206897, 0.5357142857142857, 0.537037037037037, 0.5373134328358209, 0.5396825396825398, 0.540983606557377, 0.5423728813559322, 0.543859649122807, 0.5441176470588236, 0.5454545454545454, 0.546875, 0.5483870967741935, 0.5492957746478873, 0.55, 0.5517241379310345, 0.5522388059701493, 0.5538461538461539, 0.5555555555555556, 0.5573770491803278, 0.5588235294117647, 0.5593220338983051, 0.5614035087719298, 0.5625, 0.564516129032258, 0.5666666666666667, 0.5689655172413793, 0.5714285714285714, 0.5737704918032787, 0.576271186440678, 0.5789473684210527, 0.5818181818181818, 0.5833333333333333, 0.5862068965517242, 0.5918367346938775, 0.5964912280701755, 0.6, 0.609375, 0.6166666666666667, 0.6285714285714286, 0.6428571428571428, 0.6578947368421053, 0.6727272727272727, 0.6949152542372881, 0.7142857142857143, 0.746031746031746, 1.0]
ID Similarity [0, 0.125, 0.1428571428571429, 0.16666666666666663, 0.19999999999999996, 0.25, 0.2857142857142857, 0.33333333333333337, 0.375, 0.4285714285714286, 0.5, 0.875]

In [32]:
# export wpkid_df to csv 
wpkid_df.to_csv('data/sampleunlabeledident.csv', index=False)